html {
    scroll-behavior: smooth;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.6s ease;
    background-color: white;
}
.top-bar {
    background-color: #333; /* Dark background for contrast */
    color: #fff; /* White text for readability */
    padding: 5px 20px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.contact-info a {
    color: white; /* Highlight color for the phone number */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #5A9;
}

.social-links a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.5rem;
}


.social-links a:hover {
    color: #5A9; /* Highlight color for hover effect */
}

#Link-I{
    background-color: #C8B575;
    border-radius: 15px;
    padding: 12px;
    color: white;
    transition: background-color 0.5s ease;
    text-align: center;
}

#Link-I:hover{
    background-color: black;
    color:#C8B575;
}

.navbar-nav .nav-link {
    font-size: 18px;       /* Texto grande */
    color: black;          /* Color negro */
    font-weight: bold;     /* Negrita para destacar */
    transition: color 0.3s ease; /* Transición suave */
  }
  
  .navbar-nav .nav-link:hover {
    color: gold;           /* Color dorado al pasar el cursor */
  }

   /* Ajustar el modal para que sea más ancho y menos alto */
   .modal-xl {
    max-width: 90%;
}
.modal-body {
    max-height: 500px;
    overflow-y: auto;
}
.modal-body img {
    cursor: pointer;
  }
.carousel-control-prev,
.carousel-control-next {
  width: auto; /* Elimina el fondo grande */
  background: none;
  border: none !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black !important;
  border: none;
  filter: none;
  width: 40px !important;
  height: 40px !important;
}
.modal-lg {
    max-width: 90%;
}

.card-img-top{
    transition: transform 0.3s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.1);
}

.sold-out-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Limitar el tamaño de la imagen dentro del carrusel para que no sea tan alta */
.carousel-inner img {
    object-fit: contain;
    width: auto;
    height: 400px; /* Máxima altura para las imágenes */
}

.btn-close {
    background-color: #f44336 !important;
    color: white !important;
    border: none;
}
.btn-close:hover {
    background-color: #8f2821 !important;
}

/* Quitar la transición al cambiar de imagen */
.carousel-item {
    transition: none !important;
}

.modal-title{
    font-weight: bold !important;
}

.btn {
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-primary {
    border: none !important;
    transition: background-color 0.3 ease-in-out !important;
  }
  
  .btn-primary:hover {
    background-color: black !important;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  

/* Para pantallas más pequeñas, hacer el modal más grande */
@media (max-width: 767px) {
     
    #descripcion{
        display: none;
    }


    .carousel-inner img {
        object-fit: contain;
        width: auto;
        height: auto; /* Máxima altura para las imágenes */
    }
    .modal-dialog {
        max-width: 95%; /* Aumentar el tamaño en pantallas pequeñas */
    }

    .carousel-inner img {
        height: auto; /* Dejar que la altura se ajuste automáticamente */
    }
    #filters {
        display: none;
    }
}

footer {
    background: black;
    color: white;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    margin: 0; /* Elimina posibles márgenes extra */
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales a {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}
.redes-sociales i {
padding: 5px;
}

.redes-sociales a:hover {
    color: #0782fa; /* Color al pasar el cursor */
    transform: scale(1.2); /* Efecto de ampliación al pasar el cursor */
}

.legal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el botón y el contenido en el centro */
    margin-top: 20px;
}

#legal-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#legal-button i {
    margin-left: 10px; /* Espacio entre el texto y la flecha */
}

#legal-button:hover {
    background-color: #333;
    transform: translateY(-3px);
}

/* Contenido oculto del menú desplegable */
#legal-content {
    display: none;
    margin-top: 10px;
    color: white;
    font-size: 14px;
}

#legal-content p {
    margin: 5px 0;
}

/* Mostrar contenido cuando el botón es presionado */
#legal-content.show {
    display: block;
}
@media (max-width: 768px) {
    .redes-sociales{
        flex-direction: column;
    }
    
    .redes-sociales a {
        margin: 5px 0;
    }

    .legal {
        margin-top: 10px;
    }

    #legal-button {
        font-size: 14px;
    }

    #legal-content {
        font-size: 12px;
    }

}